.Wallet {
  background: #ffffff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 20%) 0 2px 1px -1px, rgb(0 0 0 / 14%) 0 1px 1px 0px, rgb(0 0 0 / 12%) 0 1px 3px 0;
  border: 1px solid #607d8b2b;

  margin: 10px;

  .General {
    display: flex;
    justify-content: space-between;

    img {
      height: 80px;
    }

    .DataGrid {
      display: grid;
      font-size: 15px;
      row-gap: 5px;
      column-gap: 15px;
      grid-template-columns: 1fr 1fr;
      margin: 0 15px;
      align-items: center;

      .span {
        grid-column: 1 / span 2;
      }
    }

  }

  .Actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 25%;
    align-items: center;

    .IdBox {
      font-size: 11px;
      color: grey;
      grid-column: 1 / span 2;
    }
  }

}