.Box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #eaeaea;
  border: 1px solid #000;
  box-shadow: 2px 4px;
  border-radius: 8px;
}

.GridBody {
  display: grid;
  margin: 15px 0 0;
  grid-row-gap: 10px;
  align-content: space-around;
  align-items: center;
  grid-template-columns: 1fr 3fr;

  .AccountId {
    color: grey;
    grid-column: 2 / auto;
    font-size: small;
    margin-top: -10px;
  }

  .Balance {
    font-weight: 500;
  }

  .EuroSym {
    font-size: 32px;
  }

  input {
    height: 32px;
    margin-left: -60px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 0 5px;
  }

  .Btn {
    grid-column: 1 / span 2;
    width: 50%;
    justify-self: center;
    margin-top: 10px;
  }
}


